.signup {
    text-align: center;
    background-color: rgba(25, 154, 176, 0.614);
    color: white;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, ;
    font-weight: 400;
    height: 100vh;
    padding-left: 20px;
}


   
    


